html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background: linear-gradient(#fdfe00, #ffd500);
    overflow: hidden;
}


/* Setup the seekbar */

#seek_bar {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    bottom: 50px;
    -webkit-appearance: none;
    width: 90%;
    height: 5px;
    border-radius: 2px;
    margin: 10px 0 10px 0;
    background: linear-gradient(to right, red 0%, black 0%);
    background-size: 200% 100%;
    background-position: left bottom;
    cursor: pointer;
}

#seek_bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: url(../ui/seek_button.svg);
    filter: grayscale(100%) brightness(2.5);
    cursor: pointer;
}

#seek_bar::-webkit-slider-thumb:hover {
    filter: grayscale(100%) brightness(3);
}

#seek_bar::-webkit-slider-thumb:active {
    filter: grayscale(100%) brightness(1);
}

#seek_bar:focus {
    outline: none;
}


/* Set the time display */

#time {
    position: fixed;
    display: block;
    font: 12px Arial;
    left: 10px;
    bottom: 10px;
    color: gray;
    cursor: default;
}


/* Set dropdown for speed */

#speed_cnt {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: gray;
    font: 12px Arial;
}

#speed_btn {
    display: block;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 0;
    flex-shrink: 0;
    font: 12px Arial;
    color: gray;
}

#speed_btn::after {
    content: 'x';
}

#speed_btn:hover {
    color: red;
}

.dropdown_content {
    display: none;
    position: absolute;
    bottom: 100%;
    background-color: transparent;
    width: 300%;
    overflow: auto;
    z-index: 1;
    cursor: pointer;
}

.dropdown_content li {
    display: block;
}

.dropdown_content li::after {
    content: 'x';
}

.dropdown_content li:hover {
    color: red;
}

.show {
    display: block;
}


/* Setup the ui buttons */

#btn_bar {
    width: 100px;
    user-select: none;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    white-space: nowrap;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav_btn {
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    height: 25px;
    width: 25px;
    filter: grayscale(100%) brightness(2.5);
    padding: 0;
    flex-shrink: 0;
    margin: 0 10px 0 10px;
}

.nav_btn:hover {
    filter: grayscale(100%) brightness(3);
}

.nav_btn:active {
    filter: grayscale(100%) brightness(1);
}

.toggled {
    filter: grayscale(0) brightness(2.5);
}

.toggled:hover {
    filter: grayscale(0) brightness(3);
}

.toggled:active {
    filter: grayscale(0) brightness(1);
}


/* Set image for each button */

#shuffle_btn {
    margin-right: 30px;
    background-image: url(../ui/shuffle_btn.svg);
}

#previous_btn {
    background-image: url(../ui/previous_btn.svg);
}

#play_pause_btn {
    background-image: url(../ui/play_btn.svg);
    height: 35px;
    width: 35px;
}

#next_btn {
    background-image: url(../ui/next_btn.svg);
}

#loop_btn {
    margin-left: 30px;
    background-image: url(../ui/loop_btn.svg);
}