html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background: linear-gradient(#fdfe00, #ffd500);
}

#seek_bar_cnt {
    width: 100%;
    text-align: center;
}

#seek_bar {
    -webkit-appearance: none;
    width: 80%;
    height: 5px;
    border-radius: 2px;
    margin: 15px 0 15px 0;
    background: linear-gradient(to right, red 0%, black 0%);
    background-size: 200% 100%;
    background-position: left bottom;
    cursor: pointer;
}

#seek_bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: url(../ui/seek_button.svg);
    cursor: pointer;
}

#seek_bar::-webkit-slider-thumb:hover {
    filter: brightness(2);
}

#seek_bar:focus {
    outline: none;
}

#btn_bar {
    width: 50%;
    user-select: none;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    white-space: nowrap;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button {
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    height: 30px;
    width: 30px;
    filter: grayscale(100%) brightness(2.5);
    padding: 0;
    flex-shrink: 0;
    margin: 0 10px 0 10px;
}

button:hover {
    filter: grayscale(100%) brightness(3);
}

button:active {
    filter: grayscale(100%) brightness(1);
}

.toggled {
    filter: grayscale(0) brightness(2.5);
}

.toggled:hover {
    filter: grayscale(0) brightness(4);
}

.toggled:active {
    filter: grayscale(0) brightness(1);
}


/* Set image for each button */

#shuffle_btn {
    margin-right: 30px;
    background-image: url(../ui/shuffle_btn.svg);
}

#previous_btn {
    background-image: url(../ui/previous_btn.svg);
}

#play_pause_btn {
    background-image: url(../ui/play_btn.svg);
    height: 45px;
    width: 45px;
}

#next_btn {
    background-image: url(../ui/next_btn.svg);
}

#loop_btn {
    margin-left: 30px;
    background-image: url(../ui/loop_btn.svg);
}